[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-cd-image
Actions=write;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=application-x-cd-image

[Desktop Action write]
Name=write image to usb
Name[it]=write image to usb
Icon=drive-removable-media-symbolic
Exec=usb-creator-kde
